.thumb {
  width: 100%;
  height: auto;
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.thumb-image {
  width: 1400px;
  height: 500px;
  /* background-color: aqua; */
  overflow: hidden;
  border-radius: 10px;
}
.thumbnal {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.top-tetx {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.food-name1 {
  text-align: center;
  color: black;
}
.para {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.para-tetx {
  text-align: center;
  width: 1400px;
  height: auto;
}
.youtube {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.youtubrlogo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.recipe {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.tablee {
  width: 600px;
  margin-top: 20px;
}
th,
td {
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}
.name-re {
  text-align: center;
}
/* ............................. Media Query ...................... */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tablee {
    width: 350px;
  }
  .thumb-image {
    width: 350px;
  }
  .para-tetx {
    width: 350px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .thumb-image {
    width: 650px;
  }
  .para-tetx {
    width: 650px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .thumb-image {
    width: 750px;
  }
  .para-tetx {
    width: 750px;
  }
  .tablee {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .thumb-image {
    width: 950px;
  }
  .para-tetx {
    width: 950px;
  }
  .tablee {
    width: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .thumb-image {
    width: 1400px;
  }
  .para-tetx {
    width: 1400px;
  }
  .tablee {
    width: 800px;
  }
}
